body
{
	background-color : #113344;
	color:#ffffff;
	border-collapse:collapse;
	text-align: center;
	vertical-align: middle; 
}

fieldset
{
	display: inline-block;
}

footer
{
	display:flex;
	justify-content: center;
}

a
{
	color: lightblue;
}

/*Ajout du style du header*/
header
{
	position: fixed;
	width: 100%;
	height: 20px;
	line-height: 100%;
 	text-align: top;
}
.contenu
{
	width: 70%;
	margin: auto;
}
/*L'objet qui va garder la taille du header tout en haut de la page.*/
.TailleHeader
{
	 height: 20px;
	 width: 100%;
}
/*On veut garder notre lien de deconnexion visible dans le header, toujours tout à droite.*/
.LienDeconnexion
{
	float: right;
	margin-right: 5%;
}

/*Style pour le formulaire de l'inscription*/
.labelspan
{
	display: inline-block;
	align: left;
	width: 50%;
}
.inputspan
{
	display: inline-block;
	align: right;
	width: 50%;
}
/*Ca ne donne pas ce que je veux car inline-block fait se comporter le span comme un div ou un p, mais j'aime bien le résultat.*/

/*Note : Penser à diviser le style en plusieurs fichier.*/